*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin-top: 100px !important;
    margin: auto;
    width: 50%;
}
.container input{
    line-height: 40px;
    border: 1px solid black;
}
.head button{
    margin-left: 200px;
    height: 80px; 
    width: 300px;
    background-color: #d65f5f72;
}
.head{
    margin-bottom: 50px;
    border: 1px solid black;
    padding: 40px;
}
.head__content p{
    font-weight: 800;
    margin-bottom: 20px;
}
.box{
    border: 1px solid black;
}
.BT h1{
    color: #fff200;
}
.BT{
    background-color: #4a90e2;
    padding-bottom: 30px;
    text-align: center;
}
.BT button{
    height: 40px;
    width: 80px;   
    background-color: #d65f5f72;
    margin-top: 20px;
}


.B6, .B7, .B8{
    margin-top: 30px;
    background-color: #4a90e2;
}
.B6 button{
    height: 60px;
    width: 80px;
    background-color: #fff200;
    font-size: 20px;
    margin-top: 30px;
}
.B7 button{
    height: 60px;
    width: 80px;
    background-color: #fff200;
    font-size: 20px;
    margin-top: 30px;
}
.B8 button{
    border-radius: 50%;
    height: 60px;
    width: 80px;
    font-size: 20px;
}

.B9{
    height: 100px;
    background-color: palevioletred;
    font-size: 30px;
}
.B9 button{
    height: 30px;
    background-color: #fff200;
}
.B10{
    background-color: palegreen;
    font-size: 30px;
    height: 100px;
}
.B10 button{
    height: 30px;
    background-color: #fff200;
    width: 40px;
}